<!DOCTYPE html>
<html>
<head>
	<title>Help</title>
	<link rel="stylesheet" href="/css/styles.css">
	<link rel="icon" href="/img/weather.png">
</head>
<body>
	<div class="main-content">
		{{>header}}
		<iframe width="560" height="315" src="https://www.youtube.com/embed/2Q_ZzBGPdqE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		<p>{{message}}</p>
	</div>
	{{>footer}}
</body>
</html>